:root {

  font-size: 10px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --white: #FFFFFF;
  --black: #000000;
  --dark-blue: #323540;

  color: var(--black);
  background-color: var(--white);
  

}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  min-width: 320px;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;

  position: relative;

}

ul {
  list-style: none;
}

h1 {
  
}


