:root {

  font-size: 10px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --white: #FFFFFF;
  --black: #000000;

  color: var(--black);
  background-color: var(--white);
  

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
}


h1 {
  
}


